{% extends 'product/base.html'%}
{% load static %}

{%block content%}
<!-- slider Area Start-->
<div class="slider-area ">
  <!-- Mobile Menu -->
  <div class="single-slider slider-height2 d-flex align-items-center" data-background="{% static 'assets/img/hero/category.jpg' %}">
    <div class="container">
      <div class="row">
        <div class="col-xl-12">
          <div class="hero-cap text-center">
            <h3>{{distance}} Km Away From Current Location</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- slider Area End-->

<!--================Single Product Area =================-->
<div class="product_image_area">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 posts-list">
        <div class="product_img_slide owl-carousel">
          {% if product.image %}
          <div class="single_product_img">
            <img src="{{product.image.url}}" alt="#" class="img-fluid" style="height: 600px;">
          </div>
          {% endif %}
          {% if product.image2 %}
          <div class="single_product_img">
            <img src="{{product.image2.url}}" alt="#" class="img-fluid">
          </div>
          {% endif %}
          {% if product.image3 %}
          <div class="single_product_img">
            <img src="{{product.image3.url}}" alt="#" class="img-fluid">
          </div>
          {% endif %}
          {% if product.image4 %}
          <div class="single_product_img">
            <img src="{{product.image4.url}}" alt="#" class="img-fluid">
          </div>
          {% endif %}
          {% if product.image5 %}
          <div class="single_product_img">
            <img src="{{product.image5.url}}" alt="#" class="img-fluid">
          </div>
          {% endif %}
          {% if product.image6 %}
          <div class="single_product_img">
            <img src="{{product.image6.url}}" alt="#" class="img-fluid">
          </div>
          {% endif %}
        </div>
      </div>
      <div class="col-lg-4">
        <div class="blog_right_sidebar">
          <aside class="single_sidebar_widget post_category_widget">
           <h4 class="widget_title">Additional Details</h4>
           <ul class="list cat-list">
            <li>
             <div class="d-flex">
              <p>Brand:</p>
              <p>{{product.brand}}</p>
            </div>
          </li>
          <li>
           <div class="d-flex">
            <p>Model:</p>
            <p>{{product.model}}</p>
          </div>
        </li>
        <li>
         <div class="d-flex">
          <p>Proposed Price:</p>
          <p>{{product.price}}</p>
        </div>
      </li>
      <li>
       <div class="d-flex">
        <p>Posted On: </p>
        <p>{{product.pub_date}}</p>
      </div>
    </li>
    <li>
     <div class="d-flex">
      <p>Bought Date: </p>
      <p>{{product.bought_date}}</p>
    </div>
  </li>
</ul>
</aside>
</div>
</div>

<div class="col-lg-8">
  <div class="single_product_text text-center">
    <h3>{{product.title}}</h3>
    <p>
      {{product.body}}
    </p>
    <div class="card_area">
      <div class="product_count_area">
        <form id="upvote1" method="POST" action="{% url 'upvote' product.id %}" onsubmit="sendForm(this.id);return false">
          {% csrf_token %}
          <input type="hidden"/>
          
          <button id='p{{product.id}}' class="{% if user in product.likes.all %} fa fas fa-heart fa-4x {% else %} far fa-heart fa-4x {% endif %} " onclick="handleclick(id)" style="border: none; color: #828bb2; background: transparent;"></button>
        </form>
        <p id='likecount'>{{product.total_like}}</p>
        <i class="fa fas fa-eye fa-4x" style="color: #828bb2; margin-left:50px; "></i>
        <p>{{product.views.count}}</p>
      </div>
      <div>
        {% if product.user != user %}
        <div class="add_to_cart">
          <a href="{% url 'chat' product.user.username %}" class="btn_3">Contact with owner</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<div class="col-lg-4">
  <h4 class="widget_title">Owner Details</h4>
  <div class="media contact-info mt-5">
    <span class="contact-info__icon"><i class="ti-home"></i></span>
    <div class="media-body">
      <h3>Buttonwood, California.</h3>
      <p>Rosemead, CA 91770</p>
    </div>
  </div>
  <div class="media contact-info">
    <span class="contact-info__icon"><i class="ti-tablet"></i></span>
    <div class="media-body">
      <h3>+1 253 565 2365</h3>
      <p>Mon to Fri 9am to 6pm</p>
    </div>
  </div>
  <div class="media contact-info">
    <span class="contact-info__icon"><i class="ti-email"></i></span>
    <div class="media-body">
      <h3>{{product.user.email}}</h3>
      <p>Send product owner an email!</p>
    </div>
  </div>
  <div class="media contact-info">
    <div class="media-body map" id="map">
    </div>
  </div>
</div>
</div>
</div>
</div>
<!--================End Single Product Area =================-->
<!-- subscribe part here -->
<!-- <section>
  
</section>-->
<!-- subscribe part end -->

{% endblock content %}

{{% block js %}
<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/build/ol.js"></script>

<script type="text/javascript">
  var latitide={{product.pro_lat}}
  var longitude={{product.pro_lng}}
  var map = new ol.Map({
    target: 'map',
    layers: [
    new ol.layer.Tile({
      source: new ol.source.OSM()
    })
    ],
    view: new ol.View({
      center: ol.proj.fromLonLat([longitude, latitide]),
      zoom: 16,

    })
  });

  var layer = new ol.layer.Vector({
   source: new ol.source.Vector({
     features: [
     new ol.Feature({
       geometry: new ol.geom.Point(ol.proj.fromLonLat([longitude, latitide]))
     })
     ]
   })
 });
  map.addLayer(layer);


function handleclick(id){
    var a=$('#'+id)
        var b=$('#likecount').text()
        var c=parseInt(b);
        if(a.attr('class')=='far fa-heart fa-4x'){
          $('#likecount').html(c+1);
          a.removeClass("far fa-heart fa-4x").addClass("fa fas fa-heart fa-4x");  
        }
        else{
          $('#likecount').html(c-1);
          a.removeClass("fa fas fa-heart fa-4x").addClass("far fa-heart fa-4x")
        }
  }

  function sendForm(form_id){
    var form = $('#'+form_id);
    $.ajax({
      type: 'POST',
      url: $(form).attr('action'),
      data: $(form).serialize(),
      success: function(result) {

      }
    });
  }
</script>

{% endblock js %}


{% block css %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/css/ol.css" type="text/css">
<style>
  .map {
    height: 400px;
    width: 100%;
  }
</style>
<script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.3.1/build/ol.js"></script>
{% endblock css%}