{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block css %}
    {{ block.super }}
    <!--<link href="{% static "django_private_chat/css/django_private_chat.css" %}" rel="stylesheet" type="text/css" media="all">-->
    <style type="text/css">
    .container{
  max-width:1170px; 
  margin:auto;
}
img{ 
  max-width:100%;
}
.inbox_people {
  background: #f8f8f8 none repeat scroll 0 0;
  float: left;
  overflow: hidden;
  width: 40%; border-right:1px solid #c4c4c4;
}
.inbox_msg {
  border: 1px solid #c4c4c4;
  clear: both;
  overflow: hidden;
}
.top_spac{ 
  margin: 20px 0 0;
}
.recent_heading {
  float: left; 
  width:40%;
}
.srch_bar {
  display: inline-block;
  text-align: right;
  width: 60%; padding:
}
.headind_srch{ 
  padding:10px 29px 10px 20px; 
  overflow:hidden; 
  border-bottom:1px solid #c4c4c4;}

.recent_heading h4 {
  color: #05728f;
  font-size: 21px;
  margin: auto;
}
.srch_bar input{ 
  border:1px solid #cdcdcd; 
  border-width:0 0 1px 0; 
  width:80%; 
  padding:2px 0 4px 6px; 
  background:none;
}
.srch_bar .input-group-addon button {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  padding: 0;
  color: #707070;
  font-size: 18px;
}
.srch_bar .input-group-addon { 
  margin: 0 0 0 -27px;
}

.chat_ib h5{ font-size:15px; color:#464646; margin:0 0 8px 0;}
.chat_ib h5 span{ font-size:13px; float:right;}
.chat_ib p{ font-size:14px; color:#989898; margin:auto}
.chat_img {
  float: left;
  width: 11%;
}
.chat_ib {
  float: left;
  padding: 0 0 0 15px;
  width: 88%;
}

.chat_people{ overflow:hidden; clear:both;}
.chat_list {
  border-bottom: 1px solid #c4c4c4;
  margin: 0;
  padding: 18px 16px 10px;
}
.inbox_chat { height: 550px; overflow-y: scroll;}

.active_chat{ background:#ebebeb;}

.incoming_msg_img {
  display: inline-block;
  width: 6%;
}
.received_msg {
  display: inline-block;
  padding: 0 0 0 10px;
  vertical-align: top;
  width: 92%;
 }
 .received_withd_msg p {
  background: #ebebeb none repeat scroll 0 0;
  border-radius: 3px;
  color: #646464;
  font-size: 14px;
  margin: 0;
  padding: 5px 10px 5px 12px;
  width: 100%;
}
.time_date {
  color: #747474;
  display: block;
  font-size: 12px;
  margin: 8px 0 0;
}
.received_withd_msg { width: 57%;}
.mesgs {
  float: left;
  padding: 30px 15px 0 25px;
  width: 60%;
}

 .sent_msg p {
  background: #05728f none repeat scroll 0 0;
  border-radius: 3px;
  font-size: 14px;
  margin: 0; color:#fff;
  padding: 5px 10px 5px 12px;
  width:100%;
}
.outgoing_msg{ overflow:hidden; margin:26px 0 26px;}
.sent_msg {
  float: right;
  width: 46%;
}
.input_msg_write input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
  border: medium none;
  color: #4c4c4c;
  font-size: 15px;
  min-height: 48px;
  width: 100%;
}
.type_msg {border-top: 1px solid #c4c4c4;position: relative;}
.msg_send_btn {
  background: #05728f none repeat scroll 0 0;
  border: medium none;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  height: 33px;
  position: absolute;
  right: 0;
  top: 11px;
  width: 33px;
}
.messaging { padding: 0 0 50px 0;}
.msg_history {
  height: 516px;
  overflow-y: auto;
}

.green_font{
  color: green;
}
/* ----------------------------------------- */
</style>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
{% endblock css %}

{% block content %}
<input id="owner_username" type="hidden" value="{{ request.user.username }}">
<div class="container">
<h3 class=" text-center">Messaging</h3>
<div class="messaging">
      <div class="inbox_msg">
        <div class="inbox_people">
          <div class="headind_srch">
            <div class="recent_heading">
              <h4>Recent</h4>
            </div>
            <div class="srch_bar">
              <div class="stylish-input-group">
                <input type="text" class="search-bar" placeholder="Search">
                <span class="input-group-addon">
                <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                </span> </div>
            </div>
          </div>
          <div class="inbox_chat">
            {% for dialog in object_list %}

            {% if dialog.owner == request.user %}
            {% with dialog.opponent.username as username %}
            <a href="{% url 'dialogs_detail' username %}" id="user-{{ username }}">
            <div class="chat_list active_chat">
              <div class="chat_people">
                <div class="chat_img">
                  {% if dialog.opponent.profile.image %}
                  <img src="{{dialog.opponent.profile.image.url}}" alt="sunil">
                  {% else %}
                  <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
                  {% endif %}
                </div>
                <div class="chat_ib">
                  <h5 class="green_font" id="usr-{{ username }}">{{ username }}<span class="chat_date">{{dialog.messages.last.get_formatted_create_datetime}}</span></h5>
                  <p>{{dialog.messages.last.text}}</p>
                </div>
              </div>
            </div>
            </a>
            {% endwith %}
            {% else %}
            {% with dialog.owner.username as username %}
              <a href="{% url 'dialogs_detail' username %}" id="user-{{ username }}">
            <div class="chat_list active_chat">
              <div class="chat_people">
                <div class="chat_img">
                  {% if dialog.opponent.profile.image %}
                  <img src="{{dialog.opponent.profile.image.url}}" alt="sunil">
                  {% else %}
                  <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
                  {% endif %}</div>
                <div class="chat_ib">
                  <h5 class="green_font" id="usr-{{ username }}">{{ username }}<span class="chat_date" data-livestamp="{{ msg.get_formatted_create_datetime }}">{{dialog.messages.last.get_formatted_create_datetime}}</span></h5>
                  <p>{{dialog.messages.last.text}}</p>
                </div>
              </div>
            </div>
            </a>
          {% endwith %}
            {% endif %}
            {% endfor %}
          </div>
        </div>
        <div class="mesgs messages-container">
          <div id='messages' class="msg_history messages">
             <p class="text-success" id="online-status" style="display: none">{{ opponent_username }} {% trans "Online" %}</p>
             <p class="text-danger" id="offline-status" style="display: none">{{ opponent_username }} {% trans "Offline" %}</p>
            {% for msg in active_dialog.messages.all %}
            {% if msg.sender != request.user %}
            <div class="incoming_msg">
              <div class="incoming_msg_img">
                {% if msg.dialog.opponent.profile.image %}
                <img id='inc1' src="{{msg.dialog.opponent.profile.image.url}}">
                {% else %}
                <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil">
                {% endif %}
              </div>
              <div class="received_msg">
                <div class="received_withd_msg" data-id="{{ msg.id }}">
                  <p class='pull-right'>{{msg.text}}</p>
                  <span class="time_date">{{msg.created}}</span></div>
              </div>
            </div>
            {% else %}
            <div class="outgoing_msg">
              <div class="sent_msg">
                <p class="pull-left">{{msg.text}}</p>
                <span class="time_date">{{msg.created}}</span> </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
          <div class="type_msg">
            <div class="input_msg_write">
              <input type="text" id="chat-message" class="write_msg form-control message" placeholder="'Write a message for {{ opponent_username }}">
              <button id="btn-send-message" class="msg_send_btn send-message" type="button" value="{% trans 'Send' %}"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
    
   <!-- <input id="owner_username" type="hidden" value="{{ request.user.username }}">
    <div class="container">
        <div class="col-md-3">
            <div class="user-list-div">
                <ul>
                    {% for dialog in object_list %}
                        <li>
                            {% if dialog.owner == request.user %}
                                {% with dialog.opponent.username as username %}
                                    <a href="{% url 'dialogs_detail' username %}" id="user-{{ username }}"
                                       class="btn btn-danger">{% trans "Chat with" %} {{ username }}</a>
                                {% endwith %}
                            {% else %}
                                {% with dialog.owner.username as username %}
                                    <a href="{% url 'dialogs_detail' username %}" id="user-{{ username }}"
                                       class="btn btn-danger">{% trans "Chat with" %} {{ username }}</a>
                                {% endwith %}
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-3 col-md-offset-9">
                    <span class="pull-right" hidden id="typing-text">
                        <strong>{{ opponent_username }} {% trans "is typing..." %}</strong>
                    </span>
                </div>
                <p>
                    {{ opponent_username }}
                </p>
                <p class="text-success" id="online-status" style="display: none">{% trans "Online" %}</p>
                <p class="text-danger" id="offline-status" style="display: none">{% trans "Offline" %}</p>

                <div class="messages-container">
                    <div id="messages" class="messages">
                        {% for msg in active_dialog.messages.all %}
                            <div class="row {% if msg.read %}msg-read{% else %}msg-unread{% endif %}"
                                 data-id="{{ msg.id }}">
                                <p class="{% if msg.sender == request.user %}pull-left{% else %}pull-right{% endif %}">
                                    <span class="username">{{ msg.sender.username }}:</span>
                                    {{ msg.text }}
                                    <span class="timestamp">&ndash; <span
                                            data-livestamp="{{ msg.get_formatted_create_datetime }}">{{ msg.get_formatted_create_datetime }}</span></span>
                                </p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="add-message">
                    <div class="form-group">
                        <textarea id="chat-message" class="form-control message"
                                  placeholder="{% trans 'Write a message' %}"></textarea>
                    </div>

                    <div class="form-group clearfix">
                        <input id="btn-send-message" type="submit" class="btn btn-primary pull-right send-message"
                               style="margin-left: 10px;" value="{% trans 'Send' %}"/>
                    </div>
                </div>
            </div>
        </div>

    </div>-->
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/scrollmonitor/1.2.0/scrollMonitor.js"
            integrity="sha256-BseZlDlA+yL4qu+Voi82iFa5aaifralQEXIjOjaXgeo=" crossorigin="anonymous"></script>
    <script>
        var base_ws_server_path = "{{ ws_server_path }}";
        $(document).ready(function () {
            var websocket = null;
            var monitor = null;

            function initReadMessageHandler(containerMonitor, elem) {
                var id = $(elem).data('id');
                var elementWatcher = containerMonitor.create(elem);
                elementWatcher.enterViewport(function () {
                    var opponent_username = getOpponnentUsername();
                    var packet = JSON.stringify({
                        type: 'read_message',
                        session_key: '{{ request.session.session_key }}',
                        username: opponent_username,
                        message_id: id
                    });
                    $(elem).removeClass('msg-unread').addClass('msg-read');
                    websocket.send(packet);
                });
            }

            function initScrollMonitor() {
                var containerElement = $("#messages");
                var containerMonitor = scrollMonitor.createContainer(containerElement);
                $('.msg-unread').each(function (i, elem) {
                    if ($(elem).hasClass('opponent')){
                        initReadMessageHandler(containerMonitor, elem);
                    }

                });
                return containerMonitor
            }

            function getOpponnentUsername() {
                return "{{ opponent_username }}";
            }

            // TODO: Use for adding new dialog
            function addNewUser(packet) {
                $('#user-list').html('');
                packet.value.forEach(function (userInfo) {
                    if (userInfo.username == getUsername()) return;
                    var tmpl = Handlebars.compile($('#user-list-item-template').html());
                    $('#user-list').append(tmpl(userInfo))
                });
            }

            function addNewMessage(packet) {
              var msg_class = "";
              if (packet['sender_name'] == $("#owner_username").val()) {
                var msgElem =$('<div class="outgoing_msg">'+
                  '<div class="sent_msg">'+
                  '<p class="pull-left">'+packet['message']+'</p>'+
                  '<span class="time_date">'+packet['created']+'</span> </div> </div>'
                  );
              } else {
                var x=document.getElementById("inc1").getAttribute("src");
                var msgElem =$('<div class="outgoing_msg">'+
                  '<div class="incoming_msg_img">'+
                  '<img src="'+x+'" alt="sunil"></div>'+
                  '<div class="received_msg"><div class="received_withd_msg">'+
                  '<p class="pull-right">'+packet['message']+'</p>'+
                  '<span class="time_date">'+packet['created']+'</span></div></div></div>'
                  );
                }

                $('#messages').append(msgElem);
                scrollToLastMessage()
              }


            function scrollToLastMessage() {
                var $msgs = $('#messages');
                $msgs.animate({"scrollTop": $msgs.prop('scrollHeight')})
            }

            function generateMessage(context) {
                var tmpl = Handlebars.compile($('#chat-message-template').html());
                return tmpl({msg: context})
            }

           function setUserOnlineOffline(username, online) {
                if (online) {
                    document.getElementById('usr-'+username).style.color = "green";
                } else {
                    
                }
            }
            

            function gone_online() {
                $("#offline-status").hide();
                $("#online-status").show();
            }

            function gone_offline() {
                $("#online-status").hide();
                $("#offline-status").show();
            }

            function flash_user_button(username) {
                var btn = $("#user-" + username);
                btn.fadeTo(700, 0.1, function () {
                    $(this).fadeTo(800, 1.0);
                });
            }

            function setupChatWebSocket() {
                var opponent_username = getOpponnentUsername();
                websocket = new WebSocket(base_ws_server_path + '{{ request.session.session_key }}/' + opponent_username);

                websocket.onopen = function (event) {
                    var opponent_username = getOpponnentUsername();

                    var onOnlineCheckPacket = JSON.stringify({
                        type: "check-online",
                        session_key: '{{ request.session.session_key }}',
                        username: opponent_username
                        {#Sending username because the user needs to know if his opponent is online #}
                    });
                    var onConnectPacket = JSON.stringify({
                        type: "online",
                        session_key: '{{ request.session.session_key }}'

                    });

                    console.log('connected, sending:', onConnectPacket);
                    websocket.send(onConnectPacket);
                    console.log('checking online opponents with:', onOnlineCheckPacket);
                    websocket.send(onOnlineCheckPacket);
                    monitor = initScrollMonitor();
                };


                window.onbeforeunload = function () {

                    var onClosePacket = JSON.stringify({
                        type: "offline",
                        session_key: '{{ request.session.session_key }}',
                        username: opponent_username,
                        {# Sending username because to let opponnent know that the user went offline #}
                    });
                    console.log('unloading, sending:', onClosePacket);
                    websocket.send(onClosePacket);
                    websocket.close();
                };


                websocket.onmessage = function (event) {
                    var packet;

                    try {
                        packet = JSON.parse(event.data);
                        console.log(packet)
                    } catch (e) {
                        console.log(e);
                    }

                    switch (packet.type) {
                        case "new-dialog":
                            // TODO: add new dialog to dialog_list
                            break;
                        case "user-not-found":
                            // TODO: dispay some kind of an error that the user is not found
                            break;
                        case "gone-online":
                            if (packet.usernames.indexOf(opponent_username) != -1) {
                                gone_online();
                            } else {
                                gone_offline();
                            }
                            for (var i = 0; i < packet.usernames.length; ++i) {
                                setUserOnlineOffline(packet.usernames[i], true);
                            }
                            break;
                        case "gone-offline":
                            if (packet.username == opponent_username) {
                                gone_offline();
                            }
                            setUserOnlineOffline(packet.username, false);
                            break;
                        case "new-message":
                            if (packet['sender_name'] == opponent_username || packet['sender_name'] == $("#owner_username").val()) {
                                addNewMessage(packet);
                                if (packet['sender_name'] == opponent_username) {
                                    initReadMessageHandler(monitor, $("div[data-id='" + packet['message_id'] + "']"));
                                }
                            } else {
                                flash_user_button(packet['sender_name']);
                            }
                            break;
                        case "opponent-typing":
                            var typing_elem = $('#typing-text');
                            if (!typing_elem.is(":visible")) {
                                typing_elem.fadeIn(500);
                            } else {
                                typing_elem.stop(true);
                                typing_elem.fadeIn(0);
                            }
                            typing_elem.fadeOut(3000);
                            break;
                        case "opponent-read-message":
                            if (packet['username'] == opponent_username) {
                                $("div[data-id='" + packet['message_id'] + "']").removeClass('msg-unread').addClass('msg-read');
                            }
                            break;

                        default:
                            console.log('error: ', event)
                    }
                }
            }

            function sendMessage(message) {
                var opponent_username = getOpponnentUsername();
                var newMessagePacket = JSON.stringify({
                    type: 'new-message',
                    session_key: '{{ request.session.session_key }}',
                    username: opponent_username,
                    message: message
                });
                websocket.send(newMessagePacket)
            }

            $('#chat-message').keypress(function (e) {
                if (e.which == 13 && this.value) {
                    sendMessage(this.value);
                    this.value = "";
                    return false
                } else {
                    var opponent_username = getOpponnentUsername();
                    var packet = JSON.stringify({
                        type: 'is-typing',
                        session_key: '{{ request.session.session_key }}',
                        username: opponent_username,
                        typing: true
                    });
                    websocket.send(packet);
                }
            });

            $('#btn-send-message').click(function (e) {
                var $chatInput = $('#chat-message');
                var msg = $chatInput.val();
                if (!msg) return;
                sendMessage($chatInput.val());
                $chatInput.val('')
            });

            setupChatWebSocket();
            scrollToLastMessage();
        });

</script>

<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
{% endblock %}