{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'nav.html' %}
<h1>Add Product</h1>
{{error}}
<form name="" method="POST" action="{% url 'addproduct' %}" enctype="multipart/form-data">
	{% csrf_token %}
	Title:<br/>
	<input type="text" name="title"><br/><br/>
	Body:<br/>
	<input type="text" name="body"><br/><br/>
	Url:<br/>
	<input type="text" name="url"><br/><br/>
	Image:<br/>
	<input type="file" name="image"><br/><br/>
	<input class="btn btn-primary" type="submit" value="Add">
</form>
{% endblock %}