{% extends 'base.html' %}
{%load crispy_forms_tags%}
{% load static %}
{% block content %}
<div class="row">
	<div class="col-md-3"></div>
	<div class="col-md-5">
		<h1>Add Product</h1>
		<form id="form_1" method="POST" action="{% url 'addproduct' %}" enctype="multipart/form-data">
			{% csrf_token %}
			{{form|crispy}}
			<button class="btn btn-primary" type="submit">Add</button>
		</form>
	</div>
	<div class="col-md-3"></div>
</div>
{% endblock %}

{% block extra_js %} 
{% endblock extra_js %}