{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% include 'header.html'%}
<div class="album py-5 bg-light">
  <div class="container" align="text-center">
    <div class="row">
      <div class="col-md-4">
    {% if product.image %}
        <img class="card-img-top" src="{{product.image.url}}" height="500" width="400">
    {% else %}
    <p>No Image</p>
    {% endif %}
        {% if product.user == user %}
        <a href="{% url 'update_product' product.id %}"><button class="btn btn-warning">Edit</button></a>
        <a href="{% url 'delete_product' product.id %}"><button class="btn btn-danger">Delete</button></a>
        {% endif %}
        {% if product.user != user %}
        <a href="{% url 'chat' product.user.username %}"><button class="btn btn-info">Chat with owner</button></a>
        {% endif %}
        <p class="card-text" align="text-center">TITLE:{{product.title}}</p>
        <p>Buy through link <br>
         <a class="btn btn-primary" href="{{product.url}}">Buy</a>
       </p>
       <p class="card-text" align="text-center">PUBLISH DATE:{{product.pub_date}}</p>
       <p class="card-text" align="text-center">UPLOADED BY:{{product.user.username}}</p>
       <p class="card-text" align="text-center">Distance:{{distance}}Km</p>
     </div>
     <div class="col-md-4">
      <form id="upvote1" method="POST" action="{% url 'upvote' product.id %}">
        {% csrf_token %}
        <input type="hidden"/>

        {% if user in product.likes.all %}
        <button style="border: none"><i class="fa fas fa-thumbs-up"></i></button>:{{product.total_like}}
          {% else %}
        <button class="fa fa fa-thumbs-o-up" style="border: none;"></button>:{{product.total_like}} 
          {% endif %}
      </form> 
      <p class="card-text" align="text-center">BODY:{{product.body}}</p>
    </div>
    <div class="col-md-4">
      <form method="POST" action="{% url 'addcomment' product.pk %}">
        {% csrf_token %}
        {{form|crispy}}
        <button class="btn btn-primary">comment</button>
      </form>
      <div>
      <h2>Comment:({{commentlist.count}})</h2>
        {% for item in commentlist %}
        <p>
          <a class="mr-2" href="{% url 'userprofile' item.user.pk %}">
            <img class="rounded-circle" src="{{item.user.profile.image.url}}" height="50", width="50">
            {% if item.user == user %}
            <a href="{% url 'profile' %}">Me</a> 
            {% else%}
            <a href="{% url 'userprofile' item.user.pk %}">{{item.user}}</a> 
            {% endif %}
          </a><b>{{item.comment}}</b>
          {% if item.user == user or item.product.user == user %}
          <a href="{% url 'deletecomment' item.pk %}">Delete</a>
          {% endif %}
          {% if item.user == user %}
          <a href="{% url 'editcomment' item.pk %}">Edit</a>
          {% endif %}
          <a href="{% url 'addreply' item.pk %}">Replies ({{item.replies_set.count}})</a>
        </p></p>
        <p>{{item.commented_date|date:"M d, Y"}}</p>
        {% endfor %}
      </div>
    </div>
  </div> 
</div>
</div>
{% endblock %}