{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row">
	<div class="col-md-4">

	</div>
	<div class="col-md-4">
		<h1>Login</h1>
		<form class="px-4 py-3" method="POST" action="{% url 'login' %}">
			{% csrf_token %}
			<div class="form-group">
				{{form|crispy}}
			</div>
			<button type="submit" class="btn btn-primary">Sign in</button>
		</form>

		<div class="dropdown-divider"></div>
		<a class="dropdown-item" href="{% url 'signup' %}">New around here? Sign up</a>
		<a class="dropdown-item" href="#">Forgot password?</a>
	</div>
	<div class="col-md-4">

	</div>
</div>
{% endblock %}
