<div class="col-md-4">
  <p class="card-text" align="text-center"><a href="{%url 'detailview' pro.pk%}"><h4>{{pro.title}}</h4></a>
    <img class="rounded-circle article-img" src="{{pro.user.profile.image.url}}">
    {% if pro.user == user %}
    <a class="mr-2" href="{% url 'profile' %}">My post</a>
    {% else %}
    <a class="mr-2" href="{% url 'userprofile' pro.user.pk %}">{{ pro.user }}</a>
    {% endif %}
  </p>
  <div class="card mb-4 shadow-sm">
    
    <a href="{%url 'detailview' pro.pk %}">
      {% if pro.image %}<img class="card-img-top" src="{{pro.image.url}}" height="300" width="300">
      {% else %}
      <p>No Image</p>
      {% endif %}

    </a>
    

    <div class="card-body">
      <div class="card-text">
        <form id="upvote1" method="POST" action="{% url 'upvote' pro.id %}">
          {% csrf_token %}
          <input type="hidden"/>
          {% if user in pro.likes.all %}
          {{pro.total_like}}<button class="fa fas fa-thumbs-up" style="border: none;"></button>
          {% else %}
          {{pro.total_like}} <button class="fa fa fa-thumbs-o-up" style="border: none;"></button>
          {% endif %}
        </form>
        <p><a href="{%url 'detailview' pro.pk %}">comment({{pro.comment_set.count}})</a></p>
        <b>Price:{{pro.price}}</b>
      </div>  
      <p class="card-text"> Posted On:{{pro.pub_date|date:"M d, Y"}}</p>
    </div>   
  </div>  
</div>