{% extends 'base.html' %}
{% block content %}
<div>
	Comment:<p>{{comment.comment}}</p>
</div>
<h2>Reply({{all_replies.count}})</h2>
<div class="col-md-4">
	<form method="POST" action="{% url 'addreply' comment.pk %}">
		{% csrf_token %}
		{{form.as_p}}
		<button class="btn btn-primary">Reply</button>
	</form>
	{% for item in all_replies%}
	    <p><img class="rounded-circle" src="{{item.replied_user.profile.image.url}}" height="50" width="50">
        {% if item.replied_user == user %}
         <a href="{% url 'profile' %}">Me</a> 
        {% else%}
         <a href="{% url 'userprofile' item.replied_user.pk %}">{{item.replied_user}}</a> 
        {% endif %}
	    <b>{{item.reply}}</b>
		{% if item.replied_user == user %}
		<a href="{% url 'deletereply' item.pk %}">Delete</a>
		<a href="{% url 'editreply' item.pk %}">Edit</a>
		{% endif %}
		<p>{{ item.replied_date|date:"M d, Y"}}</p>
		<p>
	{% endfor %}
</div>
{% endblock %}
